span h2 {
    color: #ecfa00;
}

.astronaut {
    width: 450px;
    height: 450px;
    margin-top: 15px;
}

@media (max-width: 478px) {
    .astronaut {
        width: 350px;
        height: 350px;
    }

    .gameOver {
        margin-top: 100px;
    }
}