span h2 {
    color: #ecfa00;
}

.astronaut {
    width: 450px;
    height: 450px;
    margin-left: 20px;
    margin-top: 20px;
}

@media (max-width: 478px) {
    .astronaut {
        width: 400px;
        height: 400px;
    }
}