.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #ecfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
    width: auto;
    height: auto;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

@media (max-width: 1000px) {
    .wordContainer {
     max-width: 600px;
    } 

    .letter, .blankSquare {
     font-size: 55px;
     width: 85px;
     height: 75px;

    }  
 }

@media (max-width: 768px) {
    .wordContainer {
        max-width: 400px;
    }

    .letter, .blankSquare {
     font-size: 45px;
     width: 70px;
     height: 60px;
    } 
}

@media (max-width: 480px) {
    .wordContainer {
        max-width: 300px;
    }
 
       .letter, .blankSquare {
        font-size: 25px;
        width: 50px;
        height: 35px;
       }
}